.jumbotron {
  background-color: #920404;
  color: #fbe800;
  margin-top: 50px;
  margin-bottom: 20px; 
}

.container {
  background-color: #920404; 
}

.card {
	margin-bottom: 20px;
}

body {
  background: #b30000; 
}